.getTheApp {
  color: #262626;
  line-height: 18px;
  margin: 10px 20px;
}

.appDownloadImage {
  margin-top: 18px;
}

.appleDownload img,
.androidDownload img {
  margin: 2.5px;
  max-width: 41%;
  height: auto;
}
